.add-item-form {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}
.inputs-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}
.item-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 212px;
  gap: 16px;
}
.item-image-wrapper {
  position: relative;
  width: 288px;
  height: 212px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.item-image-input {
  display: none;
}

.item-image-preview {
  position: absolute;
  width: 288px;
  height: 212px;
}
.item-title {
  width: 328px;
}
.item-description {
  resize: none;
  width: 418px;
}
.item-image-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: var(--gray-300);
  cursor: pointer;
}

.item-image-wrapper,
.item-title,
.item-description {
  font-family: "Roboto", sans-serif;
  border: 2px solid var(--gray-100);
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  padding: 16px;
}

.add-button {
  padding: 16px 20px;
  background: var(--button-color);
  border: 1px solid var(--button-color);
  box-sizing: border-box;
  border-radius: 8px;
  color: var(--white);
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
