.items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.item-card {
  display: flex;
  align-items: center;
  max-width: 576px;
  width: 576px;
  border-radius: 8px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.item-card-image {
  border-radius: 8px;
  width: 288px;
  height: 212px;
  display: block;
}

.item-card-info {
  padding: 24px;
}

.item-card-title {
  font-family: "Poppins", sans-serif;
  color: var(--gray-700);
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 8px;
}

.item-card-description {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-300);
  max-width: 240px;
  width: 240px;
  min-height: 96px;
  word-wrap: break-word;
}
