@import "form.css";
@import "items.css";
@import "variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.add-item-section {
  padding: 48px 130px 0;
}

.add-item-title,
.items-section-title {
  font-weight: 700;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 32px;
}

.items-section {
  padding: 60px 132px 192px;
}

@media (max-width: 840px) {
  .add-item-section {
    padding: 16px;
  }
  .items-section {
    padding: 32px 16px;
  }
  .items-container {
    justify-content: center;
  }
  .item-card {
    flex-direction: column;
    max-width: 288px;
  }
}
@media (max-width: 980px) {
  .item-info-wrapper {
    width: 100%;
  }
  .item-title,
  .item-description,
  .add-button {
    width: 100%;
  }
}
